[submodule "build/WebpackFramework"]
	path = build/WebpackFramework
	url = git@github.com:denis-migdal/Webpack-Framework.git
[submodule "libs/MWL@2026"]
	path = libs/MWL@2026
	url = git@github.com:denis-migdal-WebLibs/MiscWebLib.git
