/* everything here can be shared with other Questions */
:host(.answer_highlight) {
    & .answer {
        outline: 2px solid gold;
    }
}

:host {

    --grade-color: transparent;
    --comment    : "";

    & [data-wcid="grade"] {
        font-weight: bold;
        float:right;
    }

    & code-editor {
        border-radius: 4px;
    }

    & .answer {
        &::after {
            content: var(--comment);
            color: orange;
            font-style: italic;
            display: block;
        }
    }

    & .graded {
        border-radius: 4px;
        outline: 4px solid var(--grade-color);
    }
}