:host(.answer_highlight) {
    & .answer {
        outline: unset;
    }

    & > div {
        outline: 2px solid gold;
        border-radius: 4px;
    }
}

:host {

    --nb_cols: 1;

    .answer_list {
        display: grid;
        grid-template-columns: repeat( var(--nb_cols), 0fr 1fr);
        column-gap: 5px;
        row-gap: 5px;
        align-items: center;
    }
}