:host([viewer="false"]) {
    & .answer {
        display: none;
    }
}

:host {

    & .answer {
        display: block;
        width: 60%;
        aspect-ratio: 16/9;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 4px 4px 0px 0px;
    }

    & .upload_btn {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px 0px 4px 4px;
    }
}