:host {

    & .answer {
        display: flex;
        gap: 5px;
    }

    & .grade {
        text-align: center;
        font-weight: bold;

        &:invalid {
            background-color: red;
        }
    }

}