:host {

    & .answer_div {
        display: flex;
        gap: 5px;
    }

    & [grade] {

        background-color: color-mix( in srgb, var(--color), transparent 60%);

        &[grade="0"] {
            --color: red;
        }
        &[grade="<=.5"] {
            --color: orange;
        }
        &[grade=">.5"] {
            --color: yellow;
        }
        &[grade="1"] {
            --color: green;
        }
    }

    & .grade {
        text-align: center;
        font-weight: bold;

        &:invalid {
            background-color: red;
        }
    }

}